.banner{
    position: relative;



    &_photo{
        position: relative;

        &::before{
            content: '';
            width: 100%;
            height: 35px;
            position: absolute;
            top: 0;
            backdrop-filter: blur(60px);
            z-index: 1;
        }

    }


    &_image{
        position: absolute;


        & img{
            width: 100%;
            height: 100%;
        }
    }

    &_text{
        position: absolute;
        left: 12%;
        top: 150px;

        @include media(1100){
            left: 8%;
            top: 60px;
        }

        @include media(450){
            top: 40px;
        }
    }



    &_title{
       text-transform: none;
       line-height: 46px;
       margin-top: 5px;
       font-weight: 200;
       @include adaptive-value('font-size',40,16);

       @include media(600){
        line-height: 26px;
       }
    }

}